{% extends 'shop/base.html' %}

{% block title %}Change Password{% endblock %}

{% block page_title %}
🔐 Change Password
{% endblock %}

{% block content %}

<div class="card card-box p-4" style="max-width:650px;">

    {% if error %}
        <div class="alert alert-danger">{{ error }}</div>
    {% endif %}

    <form method="post">
        {% csrf_token %}

        <div class="mb-3">
            <label class="form-label">Old Password</label>
            <input type="password" name="old_password" class="form-control" required>
        </div>

        <div class="mb-3">
            <label class="form-label">New Password</label>
            <input type="password" name="new_password" class="form-control" required>
        </div>

        <div class="mb-3">
            <label class="form-label">Confirm New Password</label>
            <input type="password" name="confirm_password" class="form-control" required>
        </div>

        <button class="btn btn-success">Change Password</button>
        <a href="/profile/" class="btn btn-secondary">Cancel</a>
    </form>

</div>

{% endblock %}