{% extends 'shop/base.html' %}

{% block title %}Add Supplier{% endblock %}

{% block page_title %}
+ Add Supplier
{% endblock %}

{% block content %}

<div class="card card-box p-4" style="max-width: 700px;">

    <form method="post">
        {% csrf_token %}

        <div class="mb-3">
            <label class="form-label">Supplier Name</label>
            <input
                type="text"
                name="name"
                class="form-control"
                required
                placeholder="Example: Kabul Wholesale Market"
            >
        </div>

        <div class="mb-3">
            <label class="form-label">Phone</label>
            <input
                type="text"
                name="phone"
                class="form-control"
                placeholder="Example: 0790000000"
            >
        </div>

        <div class="mb-3">
            <label class="form-label">Address</label>
            <textarea
                name="address"
                class="form-control"
                rows="3"
                placeholder="Supplier address..."
            ></textarea>
        </div>

        <button class="btn btn-success">Save Supplier</button>
        <a href="/suppliers/" class="btn btn-secondary">Cancel</a>

    </form>

</div>

{% endblock %}